# House Price Analysis

## Import Libraries

In [ ]:
# Import necessary libraries

## Load the Data

In [ ]:
# Load the dataset (CSV file)

## Explore the Data

In [23]:
# Show first 5 rows

- **Task:** Observe the data structure and column types.
- **Reflection:** Write a short note about what each column represents and any observations.

In [25]:
# Number of rows and columns

In [24]:
# Column names

In [26]:

# General info about all columns

In [27]:
# Count of missing values in each column

- **Task:** Review missing values.
- **Reflection:** Which columns have the most missing data? Which columns are mostly complete? How might missing data affect your analysis?

In [28]:
# Summary statistics for numerical columns

- **Task:** Review the summary statistics for numeric columns.
- **Reflection:** Write a note on unusual values (like 0 or extremely high numbers) and columns that may need cleaning.

In [ ]:
# check for duplicate rows

np.int64(0)

## Data Cleaning

In [22]:
# Fill missing 'Price (in rupees)' with the mean

In [ ]:
# Fill missing 'Price (in rupees)' with the mean

In [ ]:
# Fill missing 'Carpet Area' with median (safer than mean for skewed data)

In [ ]:

# Fill missing 'Status' with 'Unknown'

In [ ]:
# Drop columns with mostly missing values (>80%)

In [ ]:
# Show cleaned data

**Task:** Perform basic data cleaning as shown above.

**Reflection** Questions (write your answers ):

- Which columns did you clean and why?

- Why did you fill Price (in rupees) with the mean instead of dropping rows?

- Why did you fill Carpet Area with the median?

- Why did you fill Status with 'Unknown'?

- Why did we drop columns with mostly missing values (>80%)?

- How do you think these cleaning steps will affect your analysis later?

## Filtering & Sorting Data

In [ ]:
# Flats with Price less than 1 Cr

In [ ]:
# Flats with Carpet Area greater than 600 sqft

In [ ]:
# Sort by Price descending

In [ ]:
# show each data after sorting

**Task:** Apply filtering and sorting.

**Reflection** Questions:

- Which filters did you apply?

- What did you learn from the sorted data?

- Are there any patterns or outliers?

## Selecting Key Columns

In [29]:
# select the following columns from the cleaned dataset  Title , Price (in rupees), Carpet Area, Status, Floor, location

**Task:** Focus on key columns.

**Reflection** Questions:

- Why did you select these columns?

- How might they relate to each other in analysis?

## Aggregations & Relationships

In [ ]:
# Average price

In [ ]:
# Average price by Location

In [ ]:
# Min and Max carpet area

In [ ]:

# Average Price by Status

In [ ]:
# Average Carpet Area by Location

**Task:** Calculate aggregations and explore relationships.

**Reflection** Questions:

- What patterns do you see between Price, Carpet Area, Status, and Location?

- Any surprising insights?

## General Questions on Data

In [ ]:
# Display the first 10 rows of the cleaned dataset.

In [ ]:

# Count the number of flats per Location.

In [ ]:
# Find the top 5 most expensive flats

In [ ]:
# Filter all flats where Status = Ready to Move

In [20]:
# Calculate median Price and compare with mean Price

In [ ]:
# Explore relationship between Floor and Price

## Now Write a Short Summery of your findings about house price Data

### **Note**
We will continue working with this dataset step by step. All the tasks you have done so far are preparing you for a Mini Data Analysis Project.

In the next Tasks, we will:

- Apply more advanced visualizations.

- Explore relationships between columns more deeply.

- Answer questions and draw insights from the data.

Keep practicing with this cleaned dataset because it will be the base for all your upcoming exercises.ðŸ¥°